<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Đánh giá sản phẩm</title>
    {% include "meta-data.html" %}
    <link rel="stylesheet" href="../static/detail.css">
  </head>
  <body>
    <div>
      <img src={{product.product_main_image}} alt="">
      <p>{{product.product_name}}</p>
    </div>

    <h3>Tiêu chí đánh giá</h3>
    <div>
    <form method="post">
      <label class="width-100px">Thiết kế</label>
      {% include "Detail/moredetail/design.html" %}

      <br>
      <label class="width-100px">Màn hình</label>
      {% include "Detail/moredetail/screen.html" %}

      <br>
      <label class="width-100px">Tính năng</label>
      {% include "Detail/moredetail/function.html" %}

      <br>
      <label class="width-100px">Trải nghiệm</label>
      {% include "Detail/moredetail/exp.html" %}

      <br>
      <label class="width-100px">Camera</label>
      {% include "Detail/moredetail/camera.html" %}

      <br>
      <label class="width-100px">Pin</label>
      {% include "Detail/moredetail/pin.html" %}

      <br>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Nhận xét</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="comment" rows="3"></textarea>
      </div>
      <br>
      <input type="submit" name="" value="Submit" required>
    </form>
    </div>
    <div>
      <h2>{{average}}</h2>
    </div>
  </body>
</html>
